@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic,400italic,300italic,700italic);

*:focus{
	outline: 0 !important;
}

body , footer {
	font-family: 'Calibri', 'Open Sans';
}

h3 {
	padding: 0;	
}

a:hover, a:focus {
	text-decoration: none;
}

img {
	height: auto;
	width: 100%;
}


/*********************************************************************/
/*******************************HEADER********************************/
/*********************************************************************/
/*SECCIÓN-MENU*/
section.menu {
	float: left;
    display: block;
    height: auto;
    width: 20rem;
}

.navbar-default {
	background: white;
	border: none;
	border-right: 1px solid #979797;
	border-radius: 0;
	padding-top: 80px;
	padding-bottom: 350px;
}

h1.home-nombre {
	font-family: 'Calibri', 'Open Sans';
	color: #424242;
	font-size: 36px;
	font-weight: 400;
	line-height: 43px;	
	padding-bottom: 120px;
	padding-left: 23px;
}

h1.home-nombre a {
	color: #424242;
}

h1.home-nombre a:focus , h1.home-nombre a.active {
	color: #424242;	
}

.navbar-nav > li {
	float: right;
	margin: 5px 0;
}

.navbar-default .navbar-nav > li > a {
	color: #9b9b9b;
	font-family: 'Calibri', 'Open Sans';
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;	
	text-transform: uppercase;
	border-bottom: 1px solid  transparent;
	padding: 0;
	margin-bottom: 25px;
	
}


.navbar-default .navbar-nav > li > a:hover , .navbar-default .navbar-nav > .active > a , .navbar-default .navbar-nav > li > a:focus{
	border-bottom: 1px solid  black;
	background: transparent;
}

.navbar-default .navbar-nav > .active > a:hover , .navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
}
/*FIN-SECCION-MENÚ*/


/*********************************************************************/
/**************************CONTENT-PAGINA PRINCIPAL*******************/
/*********************************************************************/

#block-contenidodelapaginaprincipal h2 {
	display: none;
}

#block-contenidodelapaginaprincipal ul.links.inline {
	display: none;
}

#block-contenidodelapaginaprincipal a.feed-icon  {
	display: none;
}


.imagen-principal {
	margin-left: 24%;
	margin-top: 220px;
	margin-bottom: 300px;
}

/*********************************************************************/
/*******************************BIOGRAFIA*****************************/
/*********************************************************************/
.biografia-complete {
	margin: 108px 60px;
	font-family: 'Calibri', 'Open Sans';
}

.titulo-biografia h1 {
	color: #9b9b9b;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	padding-top: 30px;
    padding-bottom: 10px;
}

.descripcion-biografia p {
	color: #737373;	
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	text-align: justify;
	margin-bottom: 20px;
}



/*********************************************************************/
/*******************************CONTACTO******************************/
/*********************************************************************/

.contacto-complete {
	margin: 260px 40px;
}

.contacto-complete h1 {
	font-size: 36px;
	font-weight: 300;
	line-height: 43px;
	margin-bottom: 55px;
	color: dimgrey;
}

.contacto-complete p {
	color: #a1a1a1;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

.contacto-complete p a {
	color: #a1a1a1;
}

p.contacto-email {
	padding: 15px 0;
}

/*********************************************************************/
/*******************************TRABAJOS******************************/
/*********************************************************************/

.contentleft {
	margin: 120px 40px;
}

#block-views-block-vista-de-trabajos-block-1 .views-row {
	width: 30%;
	display: inline-block;
	margin-right: 18px;
	margin-bottom: 50px;
}

.views-field.views-field-title {
	margin-bottom: 5px;
}

/*nodo-trabajos*/

.detalles-trabajos {
	margin: 80px 50px;
}

.imagen-trabajo div img {
	margin-bottom: 50px;
}

.texto-trabajo {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.texto-trabajo div span a {
	color: dimgrey;
}

.texto-trabajo div span a:hover {
	color: black;
}

.texto-trabajos p {
	text-align: justify;
}
/*********************************************************************/
/*******************************EXHIBICIONES**************************/
/*********************************************************************/
.contentright {
	margin: 260px 40px;
}

#block-views-block-vista-de-exhibiciones-block-1 .views-row {
	width: 47%;
	display: inline-block;
	margin-bottom: 25px;
}

.views-field.views-field-title span a {
	color: dimgrey;
	font-size: 12.5px;
	font-weight: 400;
	line-height: 17px;
	text-transform: uppercase;
}

.views-field.views-field-title span a:hover {
	color: black;
}

.views-field.views-field-field-lugar-exhibicion .field-content a {
	color: #9a9a9a;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
}

.views-field.views-field-field-fecha-inicio-exhibicion , .views-field.views-field-field-fecha-fin-exhibicion {
	display: inline-block;
}

.views-field.views-field-field-fecha-inicio-exhibicion .field-content ,
.views-field.views-field-field-fecha-fin-exhibicion .field-content {
	color: #9a9a9a;
	height: 35px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.contentright h1 {
	color: dimgrey;
	font-size: 36px;
	font-weight: 300;
	line-height: 43px;
	margin-bottom: 35px;
}

/*NODO-DETALLES*/
.titulo-nodo h1 {
	color: dimgrey;
	font-size: 36px;
	font-weight: 300;
	line-height: 43px;
}

.detalles-exhibiciones {
	margin: 80px 20px;
}

.invitaciones-pdf h3 div span a {
	color: dimgrey;
	text-transform: uppercase;
	font-size: 15px;	
}

.invitaciones-pdf h3 div span a:hover {
	color: black;
}

.detalles-totales-exhibiciones p {
	font-family: 'Calibri', 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.exhibicion-video div video {
	width: 100% !important;
	height:auto !important;
}

span.file.file--mime-audio-mpeg.file--audio a {
	color: dimgrey;
	font-size: 22px;	
}

.sonido-audio audio {
	width: 50%;
	margin-bottom: 5px;
}
/*********************************************************************/
/*******************************FOOTER********************************/
/*********************************************************************/

div#block-footer {
	background: #f7f7f7;
	padding: 19.5px 0;
}

p.titulo-footer {
	float: right;
	color: #9b9b9b;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	margin-bottom: 0;
}





/*********************************************************************/
/*******************************MEDIA-QUERYS**************************/
/*********************************************************************/
@media (max-width: 1199px) {
.contentright {
	margin: 260px 50px;
}

#block-views-block-vista-de-trabajos-block-1 .views-row {
	margin-right: 15px;
	width: 47%;
}

.contentleft {
	margin-right: 0;
}

#block-views-block-vista-de-exhibiciones-block-1 .views-row {
	width: 49%;
}

}

@media (max-width: 1191px) {
	.imagen-principal {
		margin-bottom: 160px;
	}



}

@media (max-width: 991px) {

	.detalles-trabajos {
		margin: 80px 25px;
	}

	.contentright {
		margin: 260px 20px;
	}

	.imagen-principal {
		margin-bottom: 265px;
	}

	#block-views-block-vista-de-trabajos-block-1 .views-row {
		width: 46%;
	}

	#block-views-block-vista-de-exhibiciones-block-1 .views-row {
		width: 100%;
	}
}

@media (max-width: 812px) {
	.imagen-principal {
		margin-left: 16%;
	}
}

@media (max-width: 879px) {
.biografia-complete {
	margin: 108px 0;
}
}
@media (max-width: 767px) {

	.views-field.views-field-title span a {
		text-transform: uppercase;
	    color: #737373;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 17px;
	}
	.detalles-trabajos {
		margin: 0;
		padding-left: 0;
	}
	/*HEADER*/
	h1.home-nombre {
		display: inline-block;
		padding: 0;
		margin: 0;
		float: left;		
	}

	/*HOMEPAGE*/
	.imagen-principal {
		margin: 0;
		margin-bottom: 28%;
	}

	section.menu {
	float: none;
    display: block;    
    width: 100%;
}

	/*MENU*/
	.navbar-default .navbar-nav > li > a {
		text-align: right;
	}
	.navbar-nav > li {
		float: none;
	}

	.navbar-default {
		padding-top: 20px;
		padding-bottom: 0;
		border: none;
	}

	.navbar-default .navbar-toggle {
		border: none;
		border-radius: 0;
	}	

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: transparent;
	}
	
	/*BIOGRAFÍA*/

	.biografia-complete {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.foto-biografia , .titulo-biografia , .descripcion-biografia {
		padding-left: 0;
	}

	/*CONTACTO*/

	.contacto-complete {
		margin: 0;
		padding-left: 0;
		margin-bottom: 300px;
	}

	/*EXHIBICIONES*/

	.contentright {
		margin: 0;		
	}	

	.detalles-exhibiciones {
		margin-left: 0;
		padding-left: 0;
		margin-top: 0;
		padding-right: 0;
	}

	.sonido-audio audio {
		width: 100%;
	}
	/*TRABAJOS*/

	.contentleft {
		margin: 0;
	}

	#block-views-block-vista-de-trabajos-block-1 .views-row {
		width: 100%;
	}

}


@media (max-width: 333px) {
h1.home-nombre {
	font-size: 32px;
}
}