{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}




{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, views) }}

{% macro menu_links(items, attributes, menu_level, views) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">

          <ul id='main-menu'{{ attributes.addClass(['nav', 'navbar-nav']) }}>
    {% elseif menu_level == 1 %}
      <ul class="dropdown-menu">
    {% else %}
        <ul class="dropdown-menu sub-menu">
    {% endif %}

          {% for item in items %}

            {%
            set classes = [
            'navbar-item',
            item.is_collapsed ? 'menu-item--collapsed',
            item.is_expanded ? 'menu-item--expanded',
            item.in_active_trail ? 'active',
            item.below? 'dropdown',
            ]
            %}

            {% if item.in_active_trail %}
              {% set dropdown_class = 'is_active' %}
            {% else %}
              {% set dropdown_class = '' %}
            {% endif %}

            <li{{ item.attributes.addClass(classes) }}>

              {% if item.below %}
                {# DESPLEGABLE NORMAL #}
                {% set submenu_class = '' %}
                {% if menu_level >= 1 %}
                  {% set submenu_class = 'trigger' %}
                {% endif %}

                <a
                        class="dropdown-toggle {{ dropdown_class }} {{ submenu_class }}"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                  {{ item.title }}
                </a>


                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}

              {% else %}
                {{ link(item.title, item.url) }}
              {% endif %}

            </li>

          {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}

</div>
