<section class="col-lg-9 col-md-8 col-sm-8 col-xs-12 detalles-trabajos">
	<div class ="titulo-nodo">
		<h1>{{node.label}}</h1> 		
	</div>

	<div class = "texto-trabajo">			
		{{content.field_texto}}
	</div>
		
	<div class = "imagen-trabajo">
		{{content.field_imagen_trabajo}}
	</div>	

	

	<div class = "descripcion-trabajo">
	  	{{content.field_descripcion_coleccion}}
	</div>

</section>
