<section class="col-lg-9 col-md-8 col-sm-8 col-xs-12 detalles-exhibiciones">
	<div class ="titulo-nodo">
		<h1>{{node.label}}</h1> 		
	</div>
		
	<div class = "invitaciones-pdf">
		<h3>{{content.field_archivo_pdf}}</h3>
	</div>	
	
<!--	<div class = "sonido-audio">
		<h3>{{content.field_archivo_audio}}<h3>
		<audio width="300" height="100" src="{{audio_convertido}}" controls="controls"></audio>			
	</div>-->

	<!--
	<div class= "prueba-ultima">
		<audio width="300" height="100" src="/sites/default/files/2016-08/Chernobil1y2b.mp3" controls="controls">
			{{audio_convertido}}</audio>
	</div>

	<div class= "prueba-ultima">
		<audio width="300" height="100" src="/sites/default/files/2016-08/Chernobil1y2b.mp3" controls="controls">
			{{audio_convertido}}</audio>
	</div>-->

	
	<div class = "exhibicion-video">			
		{{content.field_video}}
	</div>

	<div class = "detalles-totales-exhibiciones">
	  	{{content.field_detalles_exhibicion}}
	</div>

</section>
