<div class = "container">
        <div class="page">
        {% if page.header %}
            <section class="menu">      
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <h1 class="home-nombre"><a href="/home">Sonia Cunliffe</a></h1>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                          <!-- <a class="navbar-brand" href="{{front_page}}"><img class="img-responsive" src="{{ logopath }}" /></a> -->
                        </div>
                        {{page.header}}
                    </div>
                </nav>      
            </section>
        {% endif %}


        {% if page.contentleft %}
            <section class="col-lg-9 col-md-8 col-sm-8 col-xs-12 contentleft">
                <div>
                    {{page.contentleft}}
                </div>
            </section>
        {% endif %}


        {% if page.contentright %}        
            <section class="col-lg-9 col-md-8 col-sm-8 col-xs-12 contentright">
                <div>
                    <h1>Últimas Exhibiciones</h1>
                  {{page.contentright}}
                </div>
          </section>
        {% endif %} 


        {% if page.content %}
          <div class="container">    
              {{page.content}}     
          </div>
        {% endif %}    

    </div>
</div>



        {% if page.footer %}  
            <footer>
              {{page.footer}}              
            </footer>
        {% endif %}
